/* Define CSS variables for font sizes */
:root {
    --body-font-size: 14px; /* Default body font size */
    --header-h1-font-size: 22px; /* Default header h1 font size */
    --header-p-font-size: 14px; /* Default header p font size */
    --section-h2-font-size: 18px; /* Default section h2 font size */
    --li-h3-font-size: 16px; /* Default li h3 font size */
    --li-p-font-size: 16px; /* Default li p font size */
    --footer-p-font-size: 16px; /* Default footer p font size */
}

/* Apply CSS using defined variables */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #ccc;
    font-size: var(--body-font-size); /* Apply body font size */
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

header {
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 3px solid #444;
    object-fit: cover;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

header h1 {
    font-size: var(--header-h1-font-size); /* Apply header h1 font size */
    margin-bottom: 5px;
    color: #fff;
}

header p {
    font-size: var(--header-p-font-size); /* Apply header p font size */
    margin: 2px 0;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-top: 20px;
    padding-bottom: 20px;
}

section:not(:last-child) {
    border-bottom: 1px solid #444;
}

section h2 {
    font-size: var(--section-h2-font-size); /* Apply section h2 font size */
    margin-bottom: 10px;
    color: #fff;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

li h3 {
    font-size: var(--li-h3-font-size); /* Apply li h3 font size */
    margin-bottom: 5px;
    color: #1e90ff;
}

li p {
    font-size: var(--li-p-font-size); /* Apply li p font size */
    margin: 5px 0;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    text-align: center;
}

footer p {
    font-size: var(--footer-p-font-size); /* Apply footer p font size */
    margin: 5px 0;
}

footer a {
    color: #1e90ff;
}
